
    .details{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
        gap: 20px; /* Space between items */
        padding: 20px; /* Padding around the grid */
        background-color: #141111; 
        width: 100%;
        height: 100%;
        left: 0;
    
        
    }
    @media (max-width: 1200px) {
        .detail {
            grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        }
    }
    
    @media (max-width: 900px) {
        .detail {
            grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        }
    }
    
    @media (max-width: 600px) {
        .detail {
            grid-template-columns: 1fr; /* 1 column */
        }
    }